<!DOCTYPE html>
<head>
<!-- <META HTTP-EQUIV="refresh" CONTENT="15"> -->
<title>RiceHack</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="/layout.css">
</head>

<div id="container">
	<div class="navbar">

	</div>
	<div class="splashscreen">
		<div class="motto"> 
			EM Rubber Trading Platform
		</div>
	</div>
	<div class="input">
		<input type="text" id="quoteinput" placeholder="Quantity for quote ...">
    	<input type="submit" value="Quote" onclick="grabQuote()"/>
    	<div id="quote"> </div>
	</div>
	<div class="feed">
		<div id="quotes" style="background: #FFFFFF;">
			<table id = "farmers">

        	<thead>
        	<col width="200">
        	<col width="100">
        	<col width="200">
        	<col width="100">
        	<col width="100">
        	<col width="100">
            <tr>
                <th><span class="text">Farmer</span></th>
                <th><span class="text">Cost</span></th>
                <th><span class="text">Country</span></th>
                <th><span class="text">Amount</span></th>
                <th><span class="text">Shipping</span></th>
                <th><span class="text">Quality</span></th>
            </tr>
	        </thead>

	        <tbody id="main">

			</tbody>
		</div>
	</div>

	</div>
</div>

<script src="/algo.js"></script>