<!DOCTYPE html>
<head>
<!-- <META HTTP-EQUIV="refresh" CONTENT="15"> -->
<title>tuxedofish</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<link rel="stylesheet" href="/layout.css">

<link rel="shortcut icon" href="http://tuxedofish.co.nf/favicon.ico?idea=1"/>
</head>

<div id="container">
	<div class="central" style="height: 181px;">
		<a href="/oauth/authorise">
			<img src="https://s3.eu-west-2.amazonaws.com/uclapi-static/SignInWithUCLSmall.png" style="width: 500px;">
		</a>
	</div>
</div>