<!DOCTYPE html>
<head>
<!-- <META HTTP-EQUIV="refresh" CONTENT="15"> -->
<title>RiceHack</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<link rel="stylesheet" href="/layout.css">

<link rel="shortcut icon" href="http://tuxedofish.co.nf/favicon.ico?idea=1"/>
</head>

<div id="container">
	<div class="navbar">

	</div>
	<div class="splashscreen">
		<div class="motto"> 
			Commodities Trading Platform
		</div>
	</div>
	<div class="feed">
		<canvas id="quotes" width="500px" height="700px" style="background: #FFFFFF;">
	</div>
	<div class="input">

	</div>
	<div class ="result">

	</div>
</div>