body {
	margin: 0px;
}
#container {
	width: 100%;
	height: 100%;
	position: absolute;

	font-family: 'Verdana';
}

.navbar {
	width: 100%;
	height: 100px;

	background-color: #19191a;

	position: relative;
}

.splashscreen {
	width: 100%;
	height: 300px;

	position: relative;

    background-image: url("/images/farming.png");

	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feed {
	width: 100%;
	height: 800px;

	background-color: #19191a;
}
.input {
	width: 100%;
	height: 100px;

	background-color: #DEDEDE;
}

#quotes {
	left: 200px;
	top: 200px;

	position: relative;
}